:host {
    border: 1px solid red;
    display: flex;
    flex: 2;
    flex-direction: column;
}

:host {
    ::ng-deep {
        table {
            .selected {
                background-color: rgba(0, 0, 0, .12);
            }
        }
    }
}